body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 20px;
}

ul,
ol {
  margin: 0;
  padding: 10px 20px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  margin-right: 10px;
}

.options {
  padding: 10px 20px;
}
